@{
    ViewData["Title"] = "Главная страница";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать в M3Connect!</h1>
    <p class="lead">Мы рады видеть вас на нашем сайте,
        где вы можете управлять своими договорами на предоставление услуг.</p>
    <hr class="my-4">
    <p>Перейдите в раздел <a href="@Url.Action("Index", "Contract")">Договоры</a> для просмотра и управления вашими контрактами.</p>
</div>
